.ei-css-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.ei-css-grid .row {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.ei-css-grid .xs12 {
  grid-column: span 12;
}
.ei-css-grid .xs11 {
  grid-column: span 11;
}
.ei-css-grid .xs10 {
  grid-column: span 10;
}
.ei-css-grid .xs9 {
  grid-column: span 9;
}
.ei-css-grid .xs8 {
  grid-column: span 8;
}
.ei-css-grid .xs7 {
  grid-column: span 7;
}
.ei-css-grid .xs6 {
  grid-column: span 6;
}
.ei-css-grid .xs5 {
  grid-column: span 5;
}
.ei-css-grid .xs4 {
  grid-column: span 4;
}
.ei-css-grid .xs3 {
  grid-column: span 3;
}
.ei-css-grid .xs2 {
  grid-column: span 2;
}
.ei-css-grid .xs1 {
  grid-column: span 1;
}
@media (min-width: 900px) {
  .ei-css-grid .t12 {
    grid-column: span 12;
  }
  .ei-css-grid .t11 {
    grid-column: span 11;
  }
  .ei-css-grid .t10 {
    grid-column: span 10;
  }
  .ei-css-grid .t9 {
    grid-column: span 9;
  }
  .ei-css-grid .t8 {
    grid-column: span 8;
  }
  .ei-css-grid .t7 {
    grid-column: span 7;
  }
  .ei-css-grid .t6 {
    grid-column: span 6;
  }
  .ei-css-grid .t5 {
    grid-column: span 5;
  }
  .ei-css-grid .t4 {
    grid-column: span 4;
  }
  .ei-css-grid .t3 {
    grid-column: span 3;
  }
  .ei-css-grid .t2 {
    grid-column: span 2;
  }
  .ei-css-grid .t1 {
    grid-column: span 1;
  }
}
@media (min-width: 1100px) {
  .ei-css-grid .d12 {
    grid-column: span 12;
  }
  .ei-css-grid .d11 {
    grid-column: span 11;
  }
  .ei-css-grid .d10 {
    grid-column: span 10;
  }
  .ei-css-grid .d9 {
    grid-column: span 9;
  }
  .ei-css-grid .d8 {
    grid-column: span 8;
  }
  .ei-css-grid .d7 {
    grid-column: span 7;
  }
  .ei-css-grid .d6 {
    grid-column: span 6;
  }
  .ei-css-grid .d5 {
    grid-column: span 5;
  }
  .ei-css-grid .d4 {
    grid-column: span 4;
  }
  .ei-css-grid .d3 {
    grid-column: span 3;
  }
  .ei-css-grid .d2 {
    grid-column: span 2;
  }
  .ei-css-grid .d1 {
    grid-column: span 1;
  }
}
